.signupContainer{
    // margin-top: 50px;
    // display: flex;
    .form{
  //       display: grid;
  // place-items: center;
  // height: 100vh;
  // margin: 0 auto;
  .error{
    color: red;
  }
    }
}