.electronicsContainer {

  .fiveBoxContainer {


    .box {

      width: 220px;
      min-height: 320px;
      border: 1px solid #aaa;

      .img {
        background-color: #F5F5F5;
        width: 200px;
        height: 200px;

        img {}
      }

      .desc {
        padding: 20px;
      }
    }




  }



}