.categoryContainer{
    margin-top: 100px;
}
.sevenBoxContainer {
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .categoryBox {
    flex: 1;                  /* Equal width for all 5 boxes */
    /* padding: 20px; */
    text-align: center;
    
  
    /* Group 25 */

/* position: absolute; */
width: 132px;
height: 172px;
left: 120px;
top: 742px;


  }
  .imgCat{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: #F5F5F5;
    align-content: center;
    margin: 20px;
  }
  .catName{
    padding: 20px;
  }
  
