.heroContainer{
  background-color: #212844;
  height: 400px;
  margin-top: 20px;
  border-radius: 30px;
  // display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;
 
//   .heroText{
//     flex: 1; 
//     padding-left: 120px;
// }
// .heroImage{
//     flex: 1; 
//     margin-right: 300px;
// }
}


