.footer{
    margin-top: 100px;
         background: #008ECC;
padding: 6rem 0;
border-top: 1px solid #e5e5e5;

    .footerLinks{
        // display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
        gap: 80px;
        .footerlink{
            .contactUs{   
       
        color: #fff !important;
        h3{
            font-family: Montserrat, sans-serif;
font-size: 18px;
font-weight: 600;
        }
        h3::after{
            display: block;
height: 3px;
font-weight: 700;
background-color: #f40;
content: " ";
width: 50px;
margin-top: .5rem;
margin-bottom: 1.5rem;
        }
        ul{
            list-style: none;
padding: 0;
margin: 0;
li{
    margin-bottom: 1.1rem;
    .info{
        display: flex;
       img{
        align-self: flex-start;
        margin-top: 6px;
       }
        p{
           
            line-height: 1.6;
            margin: 0;
font-size: 15px;
color: rgba(245, 255, 255, .8);
margin-left: 1rem;

font-weight: 400;
        }
    }
}
        }
    }
    .navigation{
        
        color: #fff !important;
        h3{
            font-family: Montserrat, sans-serif;
font-size: 18px;
font-weight: 600;
        }
        h3::after{
            display: block;
height: 3px;
font-weight: 700;
background-color: #f40;
content: " ";
width: 50px;
margin-top: .5rem;
margin-bottom: 1.5rem;
        }
        .navFooter{
            display: flex;
            ul{
                list-style: none;
    padding: 0;
    margin: 0;
    li{
        margin-bottom: 1rem;
border-bottom: 1px dotted #666;


a{
    margin-bottom: 6rem;
    color: rgba(245, 255, 255, .8);
    font-weight: 400;
}
    }
            }
        }
      
    }
}
}
    .footerContact{
        margin-top: 5% !important;
        .bottomFooter{
            h3{
                font-size: 15px !important;
    text-decoration: underline;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 600;
            }
            p{
                color: rgba(245, 255, 255, 0.8) !important;
    font-size: 14px !important;
    line-height: 26px;
        

            }
        }
    }
   
}
.secondFooter{
    background-color: #008ECC;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    // padding: 20px;
    p{
        // padding-bottom: 40px;
    }
}